/* .nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  height: 50px;
  z-index: 1;

  
  transition-timing-function: ease-in;
  transition: all 0.5s;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav__contents {
  display: flex;
  justify-content: space-between;
}
.nav__black {
  background-color: black;
}

.nav__logo {
  position: fixed;
  top: 10px;
  left: 0;
  width: 60px;
  object-fit: contain;
  padding-left: 20px;
  cursor: pointer;
}

.nav__avatar {
  cursor: pointer;
  position: fixed;
  right: 20px;
  width: 80px;
}

.nav__item * {
  list-style: none;
  display: inline;
  margin: 10px;
  cursor: pointer;
  background-color: rgba(51, 51, 51, 0.2);
  color: aliceblue;
}
.nav__item{
    margin-top: 15px;
} */

/* Search Bar */
/* .form-search{
    margin: 0 auto;
    text-align: center;

    font: bold 13px sans-serif;
     max-width: 50%;
    position: relative;
}

.form-search input{
    width: 60%;
    box-sizing: border-box;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-color:  #ffffff;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 15px 14px 40px;
    border: 1px solid #b6c3cd;;
    border-right: 0;
    color:#4E565C;
    outline: none;
    -webkit-appearance: none;
}

.form-search button{
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-color:  #6caee0;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    color: #ffffff;
    padding: 15px 22px;
    margin-left: -4px;
    cursor: pointer;
    border: none;
    outline: none;
}

.form-search i{
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 16px;
    color: #80A3BD;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px;
  width: 100%;
  height: 50px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.wrapper {
  background: #171c24;
  position: fixed;
  width: 100vw;
}
.wrapper nav {
  position: relative;
  display: flex;
  /* max-width: calc(100% - 200px); */
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content {
  display: flex;
  align-items: center;
}
nav .content .links {
  margin-left: 80px;
  display: flex;
}
.content .logo  {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px;
}
.content .links li {
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label {
  display: none;
}
.content .links li logo:hover,
.content .links li label:hover {
  background: #323c4e;
}
.wrapper .search-icon,
.wrapper .menu-icon {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon {
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before {
  content: "\f00d";
}

.wrapper .search-box {
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder {
  color: #f2f2f2;
}
.search-box .go-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"] {
  display: none;
}

/* Dropdown Menu code start
.content .links ul {
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li logo {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px !important;
}
.content .links ul ul {
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li {
  position: relative;
}
.content .links ul li:hover ul {
  top: 0;
} */

/* Responsive code start */
@media screen and (max-width: 1250px) {
  .wrapper nav {
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links {
    margin-left: 30px;
  }
  .content .links li logo {
    padding: 8px 13px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input {
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .menu-icon {
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }
  nav .content .links {
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links {
    left: 0%;
  }
  .content .links li {
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label {
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link {
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul {
    max-height: 100vh;
  }
  .content .links ul li {
    margin: 7px 20px;
  }
  .content .links ul li a {
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px !important;
  }
}

@media screen and (max-width: 400px) {
  .wrapper nav {
    padding: 0 10px;
  }
  .content .logo a {
    font-size: 27px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon {
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input {
    padding-right: 30px;
  }
}
.links{
    cursor: pointer;
}
.logo{
    cursor: pointer;
}


