/* .row {
  color: white;
  margin-left: 20px;
  
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  width: 100%;
  transition: transform 450ms;
}
.row__poster:hover {
  transform: scale(1.08);
  opacity: 1;
}
.row__posterLarge {
  max-height: 250px;
}
.row__posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
} */

/* .item >h1{
  margin-top: 60px;
  color: white;
} */

/* .dataContainer{
  max-height: auto;
  margin: 50px;
} */
/* Pagination */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationItem {
  background: #fff;
  border: 2px solid #666;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
  color: black;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}


.grid{
  margin: 60px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 30px;
  align-items: center;
}

@media(max-width:768px){
  .grid{
      grid-template-columns: repeat(2,1fr);
  }
}
@media(max-width:500px){
  .grid{
      grid-template-columns: repeat(1,1fr);
  }
  
}
.item h1{
  margin-top: 30px;
  margin-left: 10px;
  color: #fff;
}
